<%- include ("./partials/header") %>


<div class="col-lg-6" style="margin-left: 25%;">
    <div class="container">
        <h2 style="text-align: center;">About</h2>
        <br>
        <%- foundUser.about %>
        <hr>
        <% if(foundUser.socialMedia.length > 0 && foundUser.socialMedia[0] != "" || foundUser.socialMedia[1] != "" || foundUser.socialMedia[2] != "" || foundUser.socialMedia[3] != "" ) { %>
        <h2 style="text-align: center;">Social Media</h2>
        <br>
        <ul class="list-inline text-center">
            <% if(foundUser.socialMedia[0] != "twitter.com/" && foundUser.socialMedia[0] != "" && foundUser.socialMedia[0] != null){ %>
            <li class="list-inline-item"></li>
            <a href="https://<%= foundUser.socialMedia[0] %>"><span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span></a>
            </li>
            <% } %>
            <% if(foundUser.socialMedia[1] != "facebook.com/" && foundUser.socialMedia[1] != "" && foundUser.socialMedia[1] != null){ %>
                <li class="list-inline-item">
                <a href="https://<%= foundUser.socialMedia[1] %>"><span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span></a>
                </li>
            <% } %>
            <% if(foundUser.socialMedia[2] != "github.com/" && foundUser.socialMedia[2] != "" && foundUser.socialMedia[2] != null){ %>
                <li class="list-inline-item">
                <a href="https://<%= foundUser.socialMedia[2] %>"><span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span></a>
            <% } %>
            <% if(foundUser.socialMedia[3] != "instagram.com/" && foundUser.socialMedia[3] != "" && foundUser.socialMedia[3] != null){ %>
                <li class="list-inline-item">
                <a href="https://<%= foundUser.socialMedia[3] %>"><span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span></a>
            <% } %>
        </ul>
        <br>
        <br>
        <hr>
        <br>
        <% } else { %>
        <% } %>

    </div>
</div>

<%- include ("./partials/footer") %>