<%- include ("./partials/header") %>
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <img class="img-responsive" src="img/logo.png">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <%if(deletedBlogTitle != undefined){%>
    <div class="alert alert-danger" style="text-align: center;"><%= deletedBlogTitle %> Deleted!</div>
    <% } else { %>
    <%}%>
    <% foundBlogs.forEach( (blog) => { %>
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <img src="<%=blog.blogImg%>" style="height: 400px; width: 400px;" alt="blog images">
        </div>
        <div class="col-lg-7 mx-auto">
            <div class="post-preview">
                <a href="/blogs/<%= blog._id%>">
                    <h2 class="post-title">
                        <%= blog.blogTitle %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= blog.blogSubtitle %>
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="/users/<%= blog.createdUser %>"><%= blog.blogDetail[0] %> <%= blog.blogDetail[1] %></a>
                    on <%= blog.createdDate %></p>
            </div>
            <hr>
        </div>
    </div>
    <br>
    <br>
    <% }); %>
    <!-- Pager -->
    <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>
</div>

<hr>


<%- include ("./partials/footer") %>