<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UBlog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <script src="/js/fontawesome.js"></script>

    <!-- Custom styles for this template -->
    <script src="/js/jquery.min.js"></script>

    <link rel="icon" href="/img/browserTab.png">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="img-responsive" src="/img/logo.png" style="width: 100px;height: 25px;"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-blog">Create Blog</a>
                    </li>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                    src="/<%= user.img %>" alt="Alternate Text"
                                    class="img-responsive rounded-circle" style="width: 30px;height: 30px;" />
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-content">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <img src="/<%= user.img %>" alt="Alternate Text"
                                                    class="img-responsive rounded-circle"
                                                    style="width: 120px;height: 120px;" />
                                            </div>
                                            <div class="col-md-7">
                                                <span><%= user.firstName %> <%= user.lastName %></span>
                                                <p class="text-muted small">
                                                    <%= user.email %></p>
                                                <div class="divider">
                                                </div>
                                                <a href="/users/<%= user.id %>"
                                                    class="btn btn-primary btn-sm active">View Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="navbar-footer">
                                        <div class="navbar-footer-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href="/users/<%= user.id %>/update-profile-photo" class="btn btn-default btn-sm">Change Photo</a>
                                                </div>
                                                <div class="col-md-6">
                                                    <a href="/logout"
                                                        class="btn btn-default btn-sm pull-right">Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead" style="background-image: url('/img/contact.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Create A New Blog</h1>
                        <span class="subheading">Have questions? I have answers.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container col-lg-7">
        <div id="error"></div>
        <%if(typeof error == "undefined"){%>

        <% } else { %>
        <div class="alert alert-danger" id="imageError" style="text-align:center"><%= error %></div>
        <% } %>
        <form id="form" action="/blogs/<%= foundBlog._id%>/update" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="blogTitle">Blog Title</label>
                <input type="text" class="form-control" id="blogTitle" placeholder="Blog Title" name="blogTitle" value="<%= foundBlog.blogTitle %>">
            </div>
            <div class="form-group">
                <label for="blogSybtitle">Blog Subtitle</label>
                <input type="text" class="form-control" id="blogSubtitle" placeholder="Blog Subtitle" value="<%= foundBlog.blogSubtitle %>""
                    name="blogSubtitle">
            </div>
            <div class="form-group">
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*">
                <br>
                <small>Max File Size: 100kb (102400 byte)</small>
                <br>
                <small>Current Image</small>
                <br>
                <img class="img-responsive" src="/<%= foundBlog.blogImg %>" style="width: 200px;height: 200px;">
            </div>
            <div class="form-group">
                <label for="blogContent">Blog Content</label>
                <textarea name="editor" id="myTextArea"><%- foundBlog.blogContent %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">UPDATE</button>
        </form>
    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://www.github.com/vbacaksiz">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; UBlog 2020</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/main.js"></script>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
    <script>
        const form = document.getElementById('form');
        const blogTitle = document.getElementById('blogTitle');
        const blogSubtitle = document.getElementById('blogSubtitle');
        const blogContent = CKEDITOR.instances.myTextArea;
        const errorElement = document.getElementById('error');
        const imageError = document.getElementById('imageError');
        errorElement.style = "text-align:center";

        form.addEventListener('submit', (e) => {
            let messages = [];
            if (blogTitle.value === '' || blogTitle.value == null) {
                messages.push('Blog Title Required');
            }

            if (blogContent.getData() === '' || blogContent.getData() == null) {
                messages.push('Blog Content Required');
            }


            if (messages.length > 0) {
                e.preventDefault();
                errorElement.innerText = messages.join('\n');
                errorElement.classList = "alert alert-danger";
                if (imageError != null)
                    imageError.remove();
            }
        })
    </script>
</body>

</html>